/*colors*/
@beige : #eae3d9;
@gray  : #383434;
@white : #ffffff;


/*mixins*/
.font() {
	font-family: "BentonSans", Helvetica, sans-serif; font-style: normal;
}

.fontBold() {
	font-family: "BentonSans", Helvetica, sans-serif; font-style: normal; font-weight: bold;
}

.fontCondBold() {
	font-family: "BentonSansCond", Helvetica, sans-serif; font-style: normal; font-weight: bold;
}


/*globals*/
html {
	body {
		background-image: url(../img/background.png); margin: 0; .font;
	}
	a { text-decoration: none; }
}


/*template*/
.header_wrapper {
	background-color: @gray; min-width: 1180px;
	.wrapper2 {
		margin: 0 auto; 
		header {
			height: 48px; margin: 0 100px; max-width: 1450px; position: relative;

			a { 
				color: @white; 
				&.logo {
					font-size: 28px; position: absolute; left: 0; top: 6px; 
					span { .fontCondBold; }
				}
			}
			
			div.menu {
				ul {
					list-style-type: none; margin: 0; padding: 0; text-transform: uppercase; .fontCondBold;
					li { 
						float: left; padding: 0; margin: 0; display: block;
						ul { display: none; }
					}
				}
			}

			#nav {
				position: absolute; right: 0; top: 4px; 
				li {
					border-right: 2px solid @white; padding: 0 20px 0 0; margin: 0 20px 0 0; height: 15px; 
					a { 
						display: block; font-size: 18px; line-height: 18px; padding: 10px 0; 
						&:hover { color: @beige; border-bottom: 5px solid @beige; }
					}
					&.current_page_item a { color: @beige; border-bottom: 5px solid @beige; }
				}
			}
		}
		
	}
}
