/* colors */
@beige		: #eae3d9;
@beige_dark : #d2cbc1;
@blue		: #5e7190;
@blue_light	: #d3d2d1;
@gray		: #383434;
@gray_light	: #948f89;
@green		: #8a9d44;
@orange		: #a3735f;
@purple		: #78558b;
@red		: #9c474e;
@white		: #ffffff;


/* mixins */
.font() {
	font-family: "BentonSans", Helvetica, sans-serif; font-style: normal; font-weight: normal;
}

.fontBold() {
	font-family: "BentonSans", Helvetica, sans-serif; font-style: normal; font-weight: bold;
}

.fontCondBold() {
	font-family: "BentonSansCond", Helvetica, sans-serif; font-style: normal; font-weight: bold;
}

.opacity(@opacity: 0.5) {
	@ieOpacity: @opacity * 100;
	   -moz-opacity: @opacity;
	 -khtml-opacity: @opacity;
	-webkit-opacity: @opacity;
	     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@{ieOpacity})";
	         filter: ~"alpha(opacity=@{ieOpacity})";
	        opacity: @opacity;
}

.shadowed(@x-axis: 0, @y-axis: 0px, @blur: 6px, @color: #000, @alpha: 0.6) {
	@hsla: hsla(hue(@color), saturation(@color), lightness(@color), @alpha);
	-webkit-box-shadow: @x-axis @y-axis @blur @hsla;
	   -moz-box-shadow: @x-axis @y-axis @blur @hsla;
	        box-shadow: @x-axis @y-axis @blur @hsla;
}


/* globals */
html {
	min-height: 100%;
	body {
		background-image: url(../img/background.png); margin: 0; .font; color: @gray;
		a { text-decoration: none; cursor: pointer; outline: none; }
	}
}


/* template */
header {
	background-color: @gray; .shadowed(); width: 100%; height: 48px; position: relative;

	a { 
		color: @white; 
		&.logo {
			font-size: 28px; position: absolute; left: 20px; top: 6px; 
			span { .fontCondBold; }
		}
	}
	
	/* both menus */
	div.menu {
		ul {
			list-style-type: none; margin: 0; padding: 0; text-transform: uppercase; .fontCondBold;
			li { 
				float: left; padding: 0; margin: 0; display: block;
			}
		}
	}

	/* only the nav menu */
	#nav {
		position: absolute; right: 0; top: 5px; 
		li {
			padding: 0 20px 0 0; margin: 0 20px 0 0; height: 15px; 
			a { display: block; font-size: 18px; line-height: 18px; padding: 10px 0; }
			ul { display: none; }
			&:hover {
				a { color: @beige; border-bottom: 5px solid @beige; }
				ul { 
					display: block; .shadowed; position: absolute; top: 43px; background-image: url(../img/background.png); z-index: 20;
					li { 
						float: none; border-bottom: 1px solid @beige_dark; margin-right: 0; height: auto;
						a, a:hover {
							display: block; padding: 10px; text-transform: none; font-size: 12px; .font; color: @gray; border-bottom: none;
							div { .fontBold; }
						}
						&:hover { background-image: url(../img/background-dark.png); }
						&.early_ny div { color: @purple; }
						&.nineteenth div { color: @orange; }
						&.progressive div { color: @blue; }
						&.great_depression div { color: @red; }
						&.today div { color: @green; }
					}
				}
			}
			&.current_page_item a { color: @beige; border-bottom: 5px solid @beige; }
		}
	}
	
	/* only the sharing menu */
}

footer {
	overflow: auto; margin-bottom: 20px; 
	.copyright { float: left; margin-left: 20px; }
	.social { float: right; margin-right: 20px; }
}

/* pages */

#timeline {
	h1 { margin: 0; padding: 0; font-size: 50px; .fontCondBold; }
	h2 { margin: 0; padding: 0; font-size: 29px; .fontCondBold; }
	h3 { margin: 0; padding: 0; }
	list-style-type: none; margin: 60px 0 0 0; padding: 0; font-size: 13px; overflow-x: auto; overflow-y: hidden; width: 1000000px; 
	li {
		width: 283px; margin: 0; padding: 0; border-left: 1px solid @beige; float: left; 

		.upper {
			height: 179px; position: relative;
			img { position: absolute; left: -62.5px; }
			h3 { font-weight: normal; position: absolute; bottom: 10px; left: 20px; font-size: 28px; }
		}
		
		.lower {
			background-image: url(../img/background-dark.png); padding: 20px; height: 460px;
			img { margin: -20px -20px 10px -20px; }
			p { margin: 0 0 10px 0; }
		}
		
		&.progressive { border-color: @blue; h1, h2, h3 { color: @blue; } }
		&.overview {
			border-left: 0; color: @white; .fontBold; line-height: 18px; width: 310px;
			&.progressive { 
				.upper { 
					h1 { position: absolute; bottom: 70px; left: 20px; }
					h2 { position: absolute; bottom: 17px; left: 20px; }
				}
				.lower { background-color: @blue; background-image: none; }
			}
		}
		&.featured {
			border-left: 0;
			&.progressive {
				.upper { }
				.lower { background-color: @blue_light; background-image: none; }
			}
		}
	}
}
.timeline_mask { width: 100%; overflow: hidden; }

#slider {
	background-color: @gray_light; list-style: none; overflow: auto; color: @white; width: 980px; margin: 40px auto; padding: 5px; .shadowed; .fontCondBold; font-size: 16px;
	li { 
		width: 191px; float: left; border-top: 12px solid @gray_light; height: 40px; line-height: 40px; padding: 0 0 0 5px; cursor: pointer;
		&.early_ny		{ 
			border-color: @purple; 
			span { display: none; }
			&.active, &:hover {
				background-color: @purple; 
				span { display: inline; }
			}
		}
		&.nineteenth		{ 
			border-color: @orange; 
			span { display: none; }
			&.active, &:hover {
				background-color: @orange; 
				span { display: inline; }
			}
		}
		&.progressive		{ 
			border-color: @blue; 
			span { display: none; }
			&.active, &:hover {
				background-color: @blue; 
				span { display: inline; }
			}
		}
		&.great_depression		{ 
			border-color: @red; 
			span { display: none; }
			&.active, &:hover {
				background-color: @red; 
				span { display: inline; }
			}
		}
		&.today		{ 
			border-color: @green; 
			span { display: none; }
			&.active, &:hover {
				background-color: @green; 
				span { display: inline; }
			}
		}
	}
}

#overlay_backdrop { 
	background-color: #000; .opacity; position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 1040;
}

#overlay {
	width: 960px; background-color: @beige; background-image: url(../img/background.png); z-index: 1050;
	position: absolute; top: 48px; left: 50%; margin-left: -480px; min-height: 100%;
	
	div.header {
		position: relative; height: 97px; .fontCondBold; 
		h1, h2 { margin: 0; padding: 0; position: absolute; left: 20px; }
		h1 { top: 20px; }
		h2 { top: 60px; font-size: 18px; }
		a.close { text-transform: uppercase; top: 10px; right: 10px; font-size: 12px; position: absolute; color: @gray; }
		h3 { color: @white; margin: 0; height: 36px; line-height: 36px; position: absolute; bottom: 0; right: 0; width: 300px; padding: 0 0 0 20px; }
	}
	
	div.body {
		overflow: auto; 
		div.content {
			width: 640px; float: left; font-size: 13px; line-height: 16px;
			div.inner {
				padding: 10px 40px; 
				a { font-weight: bold; text-decoration: none; }
			}
		}
		div.navigation { 
			position: relative; width: 320px; float: left; font-size: 12px;
			ul {
				list-style: none; padding: 0; margin: 0; 
				li { 
					border-bottom: 1px solid @blue_light; border-left: 1px solid @blue_light; padding: 10px 20px;
					a { .fontBold; }
					p { margin: 0 0 0 0; }
				}
			}
		}
	}
	
	&.progressive {
		div.header { 
			background-color: @blue_light; 
			a { color: @blue; }
			h3 { background-color: @blue; }
		}
		div.body {
			a { color: @blue; }
		}
	}
}