/* colors */
@beige		: #eae3d9;
@blue		: #5e7190;
@blue_light	: #d3d2d1;
@gray		: #383434;
@gray_light	: #948f89;
@green		: #8a9d44;
@orange		: #a3735f;
@purple		: #78558b;
@red		: #9c474e;
@white		: #ffffff;


/* mixins */
.font() {
	font-family: "BentonSans", Helvetica, sans-serif; font-style: normal;
}

.fontBold() {
	font-family: "BentonSans", Helvetica, sans-serif; font-style: normal; font-weight: bold;
}

.fontCondBold() {
	font-family: "BentonSansCond", Helvetica, sans-serif; font-style: normal; font-weight: bold;
}

.shadowed(@x-axis: 0, @y-axis: 0px, @blur: 6px, @color: #000, @alpha: 0.6) {
	@hsla: hsla(hue(@color), saturation(@color), lightness(@color), @alpha);
	-webkit-box-shadow: @x-axis @y-axis @blur @hsla;
	   -moz-box-shadow: @x-axis @y-axis @blur @hsla;
	        box-shadow: @x-axis @y-axis @blur @hsla;
}


/* globals */
html {
	body {
		background-image: url(../img/background.png); margin: 0; .font;
		a { text-decoration: none; }
	}
}


/* template */
.header_wrapper {
	background-color: @gray; min-width: 1180px; .shadowed();
	.wrapper2 {
		margin: 0 auto; 
		header {
			height: 48px; margin: 0 100px; max-width: 1450px; position: relative;

			a { 
				color: @white; 
				&.logo {
					font-size: 28px; position: absolute; left: 0; top: 6px; 
					span { .fontCondBold; }
				}
			}
			
			div.menu {
				ul {
					list-style-type: none; margin: 0; padding: 0; text-transform: uppercase; .fontCondBold;
					li { 
						float: left; padding: 0; margin: 0; display: block;
						ul { display: none; }
					}
				}
			}

			#nav {
				position: absolute; right: 0; top: 5px; 
				li {
					padding: 0 20px 0 0; margin: 0 20px 0 0; height: 15px; 
					a { 
						display: block; font-size: 18px; line-height: 18px; padding: 10px 0; 
						&:hover { color: @beige; border-bottom: 5px solid @beige; }
					}
					&.current_page_item a { color: @beige; border-bottom: 5px solid @beige; }
				}
			}
		}
	}
}

#timeline {
	list-style-type: none; margin: 150px 0 0 0; padding: 0; font-size: 13px; background-image: url(../img/background-dark.png); overflow: auto; width: 1000000px; 
	li {
		width: 243px; height: 464px; margin: 0; padding: 20px; border-left: 1px solid @beige; overflow: hidden; float: left; 
		
		&.progressive { border-color: @blue; }
		&.overview {
			border-left: 0; color: @white; .fontBold; line-height: 18px; width: 270px;
			&.progressive { background-color: @blue; }
		}
		&.featured {
			border-left: 0;
			&.progressive { background-color: @blue_light; }
		}
	}
}

#slider {
	background-color: @gray_light; list-style: none; overflow: auto; color: @white; width: 980px; margin: 40px auto; padding: 5px; .shadowed; .fontCondBold; font-size: 16px;
	li { 
		width: 191px; float: left; border-top: 12px solid @gray_light; height: 40px; line-height: 40px; padding: 0 0 0 5px; cursor: pointer;
		&.early_ny		{ 
			border-color: @purple; 
			span { display: none; }
			&.active, &:hover {
				background-color: @purple; 
				span { display: inline; }
			}
		}
		&.nineteenth		{ 
			border-color: @orange; 
			span { display: none; }
			&.active, &:hover {
				background-color: @orange; 
				span { display: inline; }
			}
		}
		&.progressive		{ 
			border-color: @blue; 
			span { display: none; }
			&.active, &:hover {
				background-color: @blue; 
				span { display: inline; }
			}
		}
		&.great_depression		{ 
			border-color: @red; 
			span { display: none; }
			&.active, &:hover {
				background-color: @red; 
				span { display: inline; }
			}
		}
		&.today		{ 
			border-color: @green; 
			span { display: none; }
			&.active, &:hover {
				background-color: @green; 
				span { display: inline; }
			}
		}
		
	}
}

