@charset "UTF-8";

@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?93928997");
  src: url("../font/fontello.eot?93928997#iefix") format('embedded-opentype'), url("../font/fontello.woff?93928997") format('woff'), url("../font/fontello.ttf?93928997") format('truetype'), url("../font/fontello.svg?93928997#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?93928997#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
/* opacity .8 */
/* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
/* fix buttons height, for twitter bootstrap */
  line-height: 1em;
/* Animation center compensation - magrins should be symmetric */
/* remove if not needed */
  margin-left: 0.2em;
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-mail:before { content: '\2709'; } /* '✉' */
.icon-cancel-circled:before { content: '\2716'; } /* '✖' */
.icon-plus-circled:before { content: '\2795'; } /* '➕' */
.icon-minus-circled:before { content: '\2796'; } /* '➖' */
.icon-zoom-out:before { content: '\e000'; } /* '' */
.icon-zoom-in:before { content: '\e001'; } /* '' */
.icon-play-circled2:before { content: '\e05b'; } /* '' */
.icon-play-circled:before { content: '\e05c'; } /* '' */
.icon-right-circle:before { content: '\e4a2'; } /* '' */
.icon-export:before { content: '\e715'; } /* '' */
.icon-share:before { content: '\e73c'; } /* '' */
.icon-left-open-big:before { content: '\e765'; } /* '' */
.icon-right-open-big:before { content: '\e766'; } /* '' */
.icon-spin1:before { content: '\e830'; } /* '' */
.icon-spin4:before { content: '\e834'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-twitter-circled:before { content: '\f30a'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-gplus-circled:before { content: '\f310'; } /* '' */
.icon-pinterest:before { content: '\f312'; } /* '' */
.icon-pinterest-circled:before { content: '\f313'; } /* '' */
.icon-search:before { content: '🔍'; } /* '\1f50d' */